@model Category
<!-- This is the createModal to create a category: -->
<div class="modal fade" id="createModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title mx-auto text-center" id="createModalLabel"><strong>You are about to create a category.</strong></h5>
            </div>
            <div class="modal-body">
                <!-- FORM SKA IN HÄR: -->
                <form asp-action="Add" method="post">
                    <p>
                        <label asp-for="Name">Name:</label>
                        <input asp-for="Name" />
                    </p>
                    <p>
                        <label asp-for="AddedDate">AddedDate:</label>
                        <input asp-for="AddedDate" type="datetime" />
                    </p>
                </form>
                <p class="text-center"><strong>Make sure to save your changes.</strong></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
                <form asp-action="Add" method="post">
                    <input type="hidden" name="categoryId" value="@Model.Id" />
                    <button type="submit" id="createSomething" class="btn btn-success">Create</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- This is the updateModal to update a category: -->
<div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="updateModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title mx-auto text-center" id="updateModalLabel"><strong>You are about to update a category.</strong></h5>
            </div>
            <div class="modal-body">
                <!-- FORM SKA IN HÄR: -->
                <p class="text-center"><strong>Make sure to save your changes.</strong></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
                <form asp-action="Update" method="post">
                    <input type="hidden" name="categoryId" value="@Model.Id" />
                    <button type="submit" id="updateSomething" class="btn btn-success">Update</button>
                </form>
            </div>
        </div>
    </div>
</div>


<!-- This is the deleteModal to delete a category: -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title mx-auto text-center" id="deleteModalLabel"><strong>You are about to delete a category.</strong></h5>
            </div>
            <div class="modal-body">
                <p class="text-center"><strong>Are your sure that you want to delete a category?</strong></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
                <form asp-action="Delete" method="post">
                    <input type="hidden" name="categoryId" value="@Model.Id" />
                    <button type="submit" id="deleteSomething" class="btn btn-danger">Delete</button>
                </form>
            </div>
        </div>
    </div>
</div>
