<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-3 shadow">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="/">KingPim</a>
    <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
            @if (User.Identity.IsAuthenticated)
            {
            <a asp-controller="Login" asp-action="Logout" class="btn btn-danger">Sign Out <span data-feather="log-out"></span></a>
            }
        </li>
    </ul>
</nav>

<script src="https://unpkg.com/feather-icons"></script>
<script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>
<script>
    feather.replace();
</script>
<script src="~/lib/jquery/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>