<nav class="col-md-2 d-none d-md-block bg-light sidebar position-fixed" style="height:100%">
    <div class="sidebar-sticky">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link active" asp-controller="Home" asp-action="Index">
                    <span data-feather="home"></span>
                    Dashboard <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-controller="Category" asp-action="Index">
                    <span data-feather="align-justify"></span>
                    Category                 
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-controller="SubCategory" asp-action="Index">
                    <span data-feather="align-left"></span>
                    SubCategory
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-controller="Product" asp-action="Index">
                    <span data-feather="shopping-cart"></span>
                    Product
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-controller="AttributeGroup" asp-action="Index">
                    <span data-feather="align-justify"></span>
                    AttributeGroup
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-controller="OneAttribute" asp-action="Index">
                    <span data-feather="align-left"></span>
                    Attribute
                </a>
            </li>
        </ul>
    </div>
</nav>

<script src="https://unpkg.com/feather-icons"></script>
<script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>
<script>
        feather.replace();
</script>
<script src="~/lib/jquery/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>