@*@model IEnumerable<KingPim.Models.Models.SubCategory>*@


@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h1>This the Index for Category</h1>
    @*@foreach (var subcat in Model)
        {
            <strong>@subcat.Name</strong>
        }*@
</body>
</html>
