@model IEnumerable<AttributeGroup>

<!-- CRUD-buttons to modals:-->
<div class="float-sm-right" style="margin-bottom:20px; margin-top:80px; margin-right:60px">
    <button type="button" class="btn btn-md btn-success" name="createSomething" id="createSomething">Create</button>
    <button type="button" class="btn btn-md btn-warning" name="updateSomething" id="updateSomething" data-toggle="modal" data-target="#updateModal">Update</button>
    <button type="button" class="btn btn-md btn-danger" name="deleteSomething" id="deleteSomething" data-toggle="modal" data-target="#deleteModal">Delete</button>
</div>

<!-- Move this to a view component if you have time... -->
<div class="container">
    <h1>AttributeGroup</h1>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Name:</th>
                <th scope="col">Description:</th>
                @*<th scope="col">Attributes:</th>*@
            </tr>
        </thead>
        @foreach (var attGr in Model)
        {
            <tbody>
                <tr>
                    <th scope="row"><input type="checkbox" class="chk" value="@attGr.Id" /> @attGr.Name</th>
                    <td>@attGr.Description</td>
                    @*<td>@attGr.OneAttributes.FirstOrDefault().Name</td>*@
                </tr>
            </tbody>
        }
    </table>
</div>

@await Component.InvokeAsync("AttributeGroupCrudVc")

